.App {
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f79440);
}
.container{
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-color: #fff;
  border-radius: 7px;
  padding: 40px 130px;
  background-color: lightsteelblue;


}
lable{
  text-align:left;
  padding:10px 0;
}
input{
  padding: 10px;
}
button{
  background-color: #535353;
  color: #fff;
  border: solid 1px;
  border-color: #535353;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
}
.blt-col{
  background: none;
  border: none;
  text-decoration: underline;
}
